<footer
  class="footer"
  style="
    background-color: transparent;
    width: 100%;
    left: auto;
    margin-top: 30x;
  "
>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <p class="mb-0 text-muted">
            &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            Master Task Manager
            <i class="mdi mdi-heart text-danger"></i> Working with Care.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
